$redbase: #f44336;
$redlighten-5: #ffebee;
$redlighten-4: #ffcdd2;
$redlighten-3: #ef9a9a;
$redlighten-2: #e57373;
$redlighten-1: #ef5350;
$reddarken-1: #e53935;
$reddarken-2: #d32f2f;
$reddarken-3: #c62828;
$reddarken-4: #b71c1c;
$redaccent-1: #ff8a80;
$redaccent-2: #ff5252;
$redaccent-3: #ff1744;
$redaccent-4: #d50000;

$pinkbase: #e91e63;
$pinklighten-5: #fce4ec;
$pinklighten-4: #f8bbd0;
$pinklighten-3: #f48fb1;
$pinklighten-2: #f06292;
$pinklighten-1: #ec407a;
$pinkdarken-1: #d81b60;
$pinkdarken-2: #c2185b;
$pinkdarken-3: #ad1457;
$pinkdarken-4: #880e4f;
$pinkaccent-1: #ff80ab;
$pinkaccent-2: #ff4081;
$pinkaccent-3: #f50057;
$pinkaccent-4: #c51162;

$purplebase: #9c27b0;
$purplelighten-5: #f3e5f5;
$purplelighten-4: #e1bee7;
$purplelighten-3: #ce93d8;
$purplelighten-2: #ba68c8;
$purplelighten-1: #ab47bc;
$purpledarken-1: #8e24aa;
$purpledarken-2: #7b1fa2;
$purpledarken-3: #6a1b9a;
$purpledarken-4: #4a148c;
$purpleaccent-1: #ea80fc;
$purpleaccent-2: #e040fb;
$purpleaccent-3: #d500f9;
$purpleaccent-4: #aa00ff;
$purpleaccent-5: #a455e2;

$deep-purplebase: #673ab7;
$deep-purplelighten-5: #ede7f6;
$deep-purplelighten-4: #d1c4e9;
$deep-purplelighten-3: #b39ddb;
$deep-purplelighten-2: #9575cd;
$deep-purplelighten-1: #7e57c2;
$deep-purpledarken-1: #5e35b1;
$deep-purpledarken-2: #512da8;
$deep-purpledarken-3: #4527a0;
$deep-purpledarken-4: #311b92;
$deep-purpleaccent-1: #b388ff;
$deep-purpleaccent-2: #7c4dff;
$deep-purpleaccent-3: #651fff;
$deep-purpleaccent-4: #6200ea;
$deep-purpleaccent-5: #6358dc;

$indigobase: #3f51b5;
$indigolighten-5: #e8eaf6;
$indigolighten-4: #c5cae9;
$indigolighten-3: #9fa8da;
$indigolighten-2: #7986cb;
$indigolighten-1: #5c6bc0;
$indigodarken-1: #3949ab;
$indigodarken-2: #303f9f;
$indigodarken-3: #283593;
$indigodarken-4: #1a237e;
$indigodarken-5: #343a5e;
$indigoaccent-1: #8c9eff;
$indigoaccent-2: #536dfe;
$indigoaccent-3: #3d5afe;
$indigoaccent-4: #304ffe;

$bluebase: #2196f3;
$bluelighten-5: #e3f2fd;
$bluelighten-4: #bbdefb;
$bluelighten-3: #90caf9;
$bluelighten-2: #64b5f6;
$bluelighten-1: #42a5f5;
$bluedarken-1: #1e88e5;
$bluedarken-2: #1976d2;
$bluedarken-3: #1565c0;
$bluedarken-4: #0d47a1;
$blueaccent-1: #82b1ff;
$blueaccent-2: #448aff;
$blueaccent-3: #2979ff;
$blueaccent-4: #2962ff;

$light-bluebase: #03a9f4;
$light-bluelighten-5: #e1f5fe;
$light-bluelighten-4: #b3e5fc;
$light-bluelighten-3: #81d4fa;
$light-bluelighten-2: #4fc3f7;
$light-bluelighten-1: #29b6f6;
$light-bluedarken-1: #039be5;
$light-bluedarken-2: #0288d1;
$light-bluedarken-3: #0277bd;
$light-bluedarken-4: #01579b;
$light-blueaccent-1: #80d8ff;
$light-blueaccent-2: #40c4ff;
$light-blueaccent-3: #00b0ff;
$light-blueaccent-4: #0091ea;

$cyanbase: #00bcd4;
$cyanlighten-5: #e0f7fa;
$cyanlighten-4: #b2ebf2;
$cyanlighten-3: #80deea;
$cyanlighten-2: #4dd0e1;
$cyanlighten-1: #26c6da;
$cyandarken-1: #00acc1;
$cyandarken-2: #0097a7;
$cyandarken-3: #00838f;
$cyandarken-4: #006064;
$cyanaccent-1: #84ffff;
$cyanaccent-2: #18ffff;
$cyanaccent-3: #00e5ff;
$cyanaccent-4: #00b8d4;

$tealbase: #009688;
$teallighten-5: #e0f2f1;
$teallighten-4: #b2dfdb;
$teallighten-3: #80cbc4;
$teallighten-2: #4db6ac;
$teallighten-1: #26a69a;
$tealdarken-1: #00897b;
$tealdarken-2: #00796b;
$tealdarken-3: #00695c;
$tealdarken-4: #004d40;
$tealaccent-1: #a7ffeb;
$tealaccent-2: #64ffda;
$tealaccent-3: #1de9b6;
$tealaccent-4: #00bfa5;

$greenbase: #4caf50;
$greenlighten-5: #e8f5e9;
$greenlighten-4: #c8e6c9;
$greenlighten-3: #a5d6a7;
$greenlighten-2: #81c784;
$greenlighten-1: #66bb6a;
$greendarken-1: #43a047;
$greendarken-2: #388e3c;
$greendarken-3: #2e7d32;
$greendarken-4: #1b5e20;
$greenaccent-1: #b9f6ca;
$greenaccent-2: #69f0ae;
$greenaccent-3: #00e676;

$light-greenbase: #8bc34a;
$light-greenlighten-5: #f1f8e9;
$light-greenlighten-4: #dcedc8;
$light-greenlighten-3: #c5e1a5;
$light-greenlighten-2: #aed581;
$light-greenlighten-1: #9ccc65;
$light-greendarken-1: #7cb342;
$light-greendarken-2: #689f38;
$light-greendarken-3: #558b2f;
$light-greendarken-4: #33691e;
$light-greenaccent-1: #ccff90;
$light-greenaccent-2: #b2ff59;
$light-greenaccent-3: #76ff03;
$light-greenaccent-4: #64dd17;

$limebase: #cddc39;
$limelighten-5: #f9fbe7;
$limelighten-4: #f0f4c3;
$limelighten-3: #e6ee9c;
$limelighten-2: #dce775;
$limelighten-1: #d4e157;
$limedarken-1: #c0ca33;
$limedarken-2: #afb42b;
$limedarken-3: #9e9d24;
$limedarken-4: #827717;
$limeaccent-1: #f4ff81;
$limeaccent-2: #eeff41;
$limeaccent-3: #c6ff00;
$limeaccent-4: #aeea00;

$yellowbase: #ffeb3b;
$yellowlighten-5: #fffde7;
$yellowlighten-4: #fff9c4;
$yellowlighten-3: #fff59d;
$yellowlighten-2: #fff176;
$yellowlighten-1: #ffee58;
$yellowdarken-1: #fdd835;
$yellowdarken-2: #fbc02d;
$yellowdarken-3: #f9a825;
$yellowdarken-4: #f57f17;
$yellowaccent-1: #ffff8d;
$yellowaccent-2: #ffff00;
$yellowaccent-3: #ffea00;
$yellowaccent-4: #ffd600;

$amberbase: #ffc107;
$amberlighten-5: #fff8e1;
$amberlighten-4: #ffecb3;
$amberlighten-3: #ffe082;
$amberlighten-2: #ffd54f;
$amberlighten-1: #ffca28;
$amberdarken-1: #ffb300;
$amberdarken-2: #ffa000;
$amberdarken-3: #ff8f00;
$amberdarken-4: #ff6f00;
$amberaccent-1: #ffe57f;
$amberaccent-2: #ffd740;
$amberaccent-3: #ffc400;
$amberaccent-4: #ffab00;

$orangebase: #ff9800;
$orangelighten-5: #fff3e0;
$orangelighten-4: #ffe0b2;
$orangelighten-3: #ffcc80;
$orangelighten-2: #ffb74d;
$orangelighten-1: #ffa726;
$orangedarken-1: #fb8c00;
$orangedarken-2: #f57c00;
$orangedarken-3: #ef6c00;
$orangedarken-4: #e65100;
$orangeaccent-1: #ffd180;
$orangeaccent-2: #ffab40;
$orangeaccent-3: #ff9100;
$orangeaccent-4: #ff6d00;

$deep-orangebase: #ff5722;
$deep-orangelighten-5: #fbe9e7;
$deep-orangelighten-4: #ffccbc;
$deep-orangelighten-3: #ffab91;
$deep-orangelighten-2: #ff8a65;
$deep-orangelighten-1: #ff7043;
$deep-orangedarken-1: #f4511e;
$deep-orangedarken-2: #e64a19;
$deep-orangedarken-3: #d84315;
$deep-orangedarken-4: #bf360c;
$deep-orangeaccent-1: #ff9e80;
$deep-orangeaccent-2: #ff6e40;
$deep-orangeaccent-3: #ff3d00;
$deep-orangeaccent-4: #dd2c00;

$brownbase: #795548;
$brownlighten-5: #efebe9;
$brownlighten-4: #d7ccc8;
$brownlighten-3: #bcaaa4;
$brownlighten-2: #a1887f;
$brownlighten-1: #8d6e63;
$browndarken-1: #6d4c41;
$browndarken-2: #5d4037;
$browndarken-3: #4e342e;
$browndarken-4: #3e2723;

$blue-greybase: #607d8b;
$blue-greylighten-5: #eceff1;
$blue-greylighten-4: #cfd8dc;
$blue-greylighten-3: #b0bec5;
$blue-greylighten-2: #90a4ae;
$blue-greylighten-1: #78909c;
$blue-greydarken-1: #546e7a;
$blue-greydarken-2: #455a64;
$blue-greydarken-3: #37474f;
$blue-greydarken-4: #263238;

$greybase: #9e9e9e;
$greylighten-5: #fafafa;
$greylighten-4: #f5f5f5;
$greylighten-3: #eeeeee;
$greylighten-2: #e0e0e0;
$greylighten-1: #bdbdbd;
$greydarken-1: #757575;
$greydarken-2: #616161;
$greydarken-3: #424242;
$greydarken-4: #212121;

$shadesblack: #000000;
$shadeswhite: #ffffff;
$shadestransparent: transparent;
